body{
    font-family: 'Montserrat';
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: left;
}

#elRefugioLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Title Section */

#title {
    
    color: #fff;
    background-color: #0f4c75;
    background-image: url(../images/happyGoldenDog.jpg);
    background-size: cover;
    background-position: 25% 75%;

}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.section-heading {
    font-size: 2.5rem;
    line-height: 1.5rem;
    padding-bottom: 0%;
}

.heading-desc {
    color: grey;
}

.form-control {
    border-radius: 0;
}

/* Sections */

.colored-section {
    background-color: #0f4c75;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

.icon {
    padding-bottom: 30px;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.0rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

/* Newsletter Section */

.row {
    margin-top: 90px;
}


/* Donate Section */

#donate {
    padding: 100px;
    background-color: #f4f4f4;
}

.donate-column {
    padding: 3% 2%;
}

.donate-text {
    line-height: 1.5;
    font-size: 2.5rem;
}

/* Footer Section */

#footer .container-fluid {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 3% 15% 2%;
    background-color: #e8f1f5;
}

.text-muted {
    margin-top: 5px;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        padding-top: 10px;
    }
}